<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    verbose="true"
    testdox="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    backupGlobals="false"
    backupStaticAttributes="false"
>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory suffix="Test.php">./tests/unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory suffix="Test.php">./tests/integration</directory>
        </testsuite>
        <testsuite name="E2E Tests">
            <directory suffix="Test.php">./tests/e2e</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./includes</directory>
        </include>
        <exclude>
            <directory>./tests</directory>
            <directory>./vendor</directory>
            <directory>./node_modules</directory>
        </exclude>
        <report>
            <html outputDirectory="tests/coverage" />
            <text outputFile="php://stdout" />
        </report>
    </coverage>

    <php>
        <const name="WP_TESTS_DOMAIN" value="mobility-trailblazers.test" />
        <const name="WP_TESTS_EMAIL" value="admin@mobility-trailblazers.test" />
        <const name="WP_TESTS_TITLE" value="Mobility Trailblazers Test Site" />
        <const name="WP_PHP_BINARY" value="php" />
        <const name="MT_TESTING" value="true" />
    </php>
</phpunit>